{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacao</title>
    <link rel="stylesheet" href="{% static '\style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'transacao' %}">Gerenciar Contas</a>
        </div>
    </nav>
    <h2>Lista de transições</h2>
    <table>
            <tr id="Categorias">
            <td>Nome</td>
            <td>Valor</td>
            <td>Categoria</td>
            <td>Data</td></tr>
            {%for t in transacao %}
            <tr id = 'Valores'>
            <td ><a style="color: brown;" href="{% url 'atualizar' t.id %}" id="remove"><button class="botaoatt">{{t}}</button></a></td>
            <td>{{t.valor}} </td>
            <td>{{t.categoria}} </td>
            <td>{{t.data}} </td>
            </tr>
            {%endfor%}
    </table>
    <div class="ancora">
    <a href="{%url 'urlnova' %}" name="NovaConta"> <button class='criar' >Nova Conta</button> </a>
    </div>
</body>
</html>